{% extends "template.html" %}

{% block content %}

    <form action="" method="post">
        <h3>Registration</h3>
        {% csrf_token %}
        <input type="text" placeholder="Username" name="nickname">
        <input type="email" placeholder="Email" name="email">
        <input type="password" placeholder="Password" name="password1">
        <input type="password" placeholder="Repeat Password" name="password2">
        <button type="submit">register</button>
        {# submit отправляет данные на сервер #}

        {% if messages %}
            <ul class="error-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </form>
{% endblock %}