@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --darkBackground: #333333;
    --darkCard: #404040;
}

* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 70%;
    margin: 100px auto 50px auto;
}

body {
    background: var(--darkBackground);
}

.items {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.item {
    color: white;
    background: var(--darkCard);
    box-shadow: 3px 3px 0 black;
    display: flex;
    width: calc(33% - 20px);
    padding: 15px;
    margin-bottom: 40px;
    border-radius: 20px;
}

.item img {
    filter: grayscale(30%);
    width: 100%;
    border-radius: 15px;
    height: 230px;
    object-fit: cover;

}

.item-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.item-left {
    display: flex;
    justify-content: center;
    align-items: center;


}

.item-right {
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 10px 10px;
    text-transform: capitalize;
    display: grid;
    grid-template-columns: 20% 80%;
}

.item p {
    color: #bbbbbb;
}

.item-body p {
    text-align: justify;
    color: white;
}

.item-body p:first-letter {
    text-transform: capitalize;
}

.item-left img {
    display: block;
    margin: auto;
    width: 60%;
    border-radius: 15px;
}

.item-body {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 20px;
    text-align: center;
}

.item-right p {
    color: #cccccc;
}

.item-right h3 {
    width: 95%;
    margin: auto;
}

.item-info {
    display: grid;
    grid-template-columns: 20% 80%;
}

.item-author-img img {
    object-fit: cover;
    width: 100%;
    height: 40px;
}

.item-author {
    font-size: 18px;
}

.item-date {
    font-size: 12px;
}


.items h3 {
    text-transform: capitalize;
    max-height: 80px;
    height: auto;
    overflow: hidden;
}

.item-avatar img {
    object-fit: cover;
    height: 100px;
    width: 100px;
}

.item-small-text {
    margin: 10px 0;
}

.item-detail-info {
    color: white;
    text-align: center;
}

.menu {
    z-index: 10;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    position: absolute;
    background-color: rgba(51, 51, 51, 0.2);
    display: flex;
    justify-content: center;
}

.menu a {
    width: fit-content;
    color: white;
    margin: 10px 20px;
    display: inline-block;
}

.back {
    color: white;
    font-weight: bold;
    display: block;
    margin-left: 20%;
    padding-bottom: 10px;
}

.header {
    height: 50vh;
    display: grid;
    grid-template-columns:60% 40%;
    grid-gap: 10px;
}

.categories {
    padding: 15px 0;
    border-radius: 20px;
    text-align: center;
    background: var(--darkCard);
    color: white;
}

.categories a {
    color: white;
    background-color: var(--darkCard);
    box-shadow: 3px 3px 10px white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

}

.slider-wrapper {
    height: 100%;
    transition: 1s;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
}

.slider {
    transition: 2s;
    width: 100%;
    overflow: hidden;
}

.slide {
    text-align: center;
    display: inline-block;
    width: 100%;
    position: relative;
    border-radius: 20px;
}

.slide img {
    z-index: 1;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slide::before {
    border-radius: 20px;
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    left: 0;
    top: 0;
    content: "";
}

.slide h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
}

.social {
    display: flex;
    flex-direction: column;
    color: white;
}

.social a {
    line-height: 25px;
    text-transform: capitalize;
    margin-top: 10px;
    color: white;
}

.social img {
    vertical-align: middle;
    height: 25px;
    width: 25px;
}

.navigate {
    width: 20%;
    color: white;
    display: flex;
    flex-direction: column;
}

.navigate a {
    margin-top: 10px;
    color: white;
}

.footer {
    display: flex;
    width: 70%;
    margin: auto;
}

.item-body__right {
    padding: 0 10px;
}

.last-news {
    color: white;
    background-color: #262626;
    opacity: 0.8;
    border-radius: 15px;
    padding: 10px;
}

.last-news__item {
    margin: 10px;
    display: grid;
    grid-template-columns: 30% 70%;
}

.last-news__image {
    display: flex;
    align-items: center;
    padding: 5px;
}

.last-news__image img {
    border-radius: 5px;
    width: 100%;
}

.last-news__text {
    display: flex;
    align-items: center;
}

.last-news h4 {
    margin: 15px 0;
}

.main-article {
    display: block;
    z-index: 1;
    position: relative;
    margin: auto;
    width: 80%;
}

.main-article::before {
    content: "";
    position: absolute;
    opacity: 0.4;
    border-radius: 25px;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: black;

}

.main-article img {
    backdrop-filter: ;
    border-radius: 25px;
    width: 100%;
}

.main-article-title {
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
}

.profile-wrapper {
    text-align: center;
    display: inline-block;
    width: 150px;
    background-color: #333333;
}

.profile-wrapper.open {
    height: 150px;
    border-radius: 0 0 10px 10px;
}

.profile-blog.show .profile-wrapper {
    background-color: black;
}


.profile-blog {
    position: absolute;
    z-index: 1000;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 150px;
    opacity: 0;
}

.profile-blog.show {
    opacity: 1;
}

.profile-button {

}

.profile__left {
    display: flex;
    justify-content: center;
}

.profile__left img {
    height: 200px;
    width: 200px;
}

.profile__right button {

}

.profile__right label {
    margin-left: 10px;
    color: white;
    text-transform: capitalize;
}

.profile__right input {
    border-radius: 5px;
    width: 300px;
    margin: 10px;
    padding: 7px;
    display: block;
}

.button {
    transition: 0.5s;
    margin-left: 10px;
    text-align: center;
    height: 40px;
    width: 40px;
    background-color: transparent;
    background-image: url(../icons/save.png);
    background-size: cover;
    background-position: center;
}

.button:hover {
    height: 45px;
    width: 45px;
}

.error-messages {
    color: red;
}

form {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    margin: auto;
    padding: 20px;
    height: fit-content;
    width: 35%;
    border-radius: 15px;
    background-color: #262626;
    color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
    background-color: transparent !important;
}

form input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 7px;
    border-radius: 3px;
    outline: none;
    background-color: #2d2d2d;
    color: white;
    border: none;
}

form button {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin: 10px auto;
    padding: 7px;
    border-radius: 3px;
    outline: none;
    background-color: #2d2d2d;
    color: white;
    border: none;
    text-transform: capitalize;
}